# Byte-compiled / optimized / DLL files
__pycache__/
XML_PMA/
database.sql
*.py[codz]
*$py.class

test*
*.SDF
*.txd
*.txv
*.pdf
*.xml
*.jpg
infos.dat
# C extensions
*.so
test_admidio_wp_user_sync.py
test_api.py
